<h3 style='margin-top:2.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:107%;font-size:16px;font-family:"Calibri Light",sans-serif;color:#1F4D78;font-weight:normal;'><span style="font-size: 18px;">Autentica&ccedil;&atilde;o / Autoriza&ccedil;&atilde;o &ndash; API Gateway</span></h3>
<h3 style='margin-top:2.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:107%;font-size:16px;font-family:"Calibri Light",sans-serif;color:#1F4D78;font-weight:normal;'><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</h3>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>As APIs dispon&iacute;veis no API Gateway estar&atilde;o protegidas atrav&eacute;s de um barramento de servi&ccedil;os que exige autentica&ccedil;&atilde;o e autoriza&ccedil;&atilde;o atrav&eacute;s de tokens de acesso que implementam o protocolo OAuth / OpenId Connect.</p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>Para a obten&ccedil;&atilde;o do token de acesso (access_token) s&atilde;o disponibilizados os seguintes endpoints:</p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'><br></p>
<table style="width: 4.7e+2pt;border-collapse:collapse;border:none;">
    <tbody>
        <tr>
            <td colspan="2" style="width: 467.55pt;border: 1pt solid white;background: rgb(237, 125, 49);padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style="color:white;">CompanyName &ndash; Ambiente Id</span></strong></p>
            </td>
        </tr>
        <tr>
            <td style="width: 145.45pt;border-right: 1pt solid white;border-bottom: 1pt solid white;border-left: 1pt solid white;border-image: initial;border-top: none;background: rgb(237, 125, 49);padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Ambiente Desenvolvimento</span></strong></p>
            </td>
            <td style="width: 322.1pt;border-top: none;border-left: none;border-bottom: 1pt solid white;border-right: 1pt solid white;background: rgb(247, 202, 172);padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:black;">https://dev-login.companyname.com/connect/token</span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 145.45pt;border-right: 1pt solid white;border-bottom: 1pt solid white;border-left: 1pt solid white;border-image: initial;border-top: none;background: rgb(237, 125, 49);padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Ambiente QA</span></strong></p>
            </td>
            <td style="width: 322.1pt;border-top: none;border-left: none;border-bottom: 1pt solid white;border-right: 1pt solid white;background: rgb(251, 228, 213);padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:black;">https://qa-login.companyname.com/connect/token</span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 145.45pt;border-right: 1pt solid white;border-bottom: 1pt solid white;border-left: 1pt solid white;border-image: initial;border-top: none;background: rgb(237, 125, 49);padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Ambiente Homologa&ccedil;&atilde;o</span></strong></p>
            </td>
            <td style="width: 322.1pt;border-top: none;border-left: none;border-bottom: 1pt solid white;border-right: 1pt solid white;background: rgb(247, 202, 172);padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:black;">https://homol-login.companyname.com/connect/token</span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 145.45pt;border-right: 1pt solid white;border-bottom: 1pt solid white;border-left: 1pt solid white;border-image: initial;border-top: none;background: rgb(237, 125, 49);padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Ambiente Produ&ccedil;&atilde;o</span></strong></p>
            </td>
            <td style="width: 322.1pt;border-top: none;border-left: none;border-bottom: 1pt solid white;border-right: 1pt solid white;background: rgb(251, 228, 213);padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:black;">https://login.companyname.com/connect/token</span></p>
            </td>
        </tr>
    </tbody>
</table>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>Para solicitar um token em ambiente de PRODUCAO, efetuar o seguinte processo:</p>
<ul style="list-style-type: disc;">
    <li>Realizar uma requisi&ccedil;&atilde;o &ldquo;POST&rdquo; na url &ldquo;https://login.companyname.com/connect/token&rdquo;;</li>
    <li>O formato da requisi&ccedil;&atilde;o (header &ldquo;Content-Type&rdquo;) deve ser &ldquo;application/x-www-form-urlencoded&rdquo;;</li>
    <li>Os dados que dever&atilde;o ser enviados no corpo da mensagem para acesso a API devem ser por exemplo:<ol style="list-style-type: circle;">
            <li>&ldquo;client_id&rdquo;: &ldquo;&#123;NOMECLIENTE&#125;&rdquo;</li>
            <li>&ldquo;grant_type&rdquo;: &ldquo;client_credentials&rdquo;</li>
            <li>&ldquo;scope&rdquo;: &ldquo;apigateway&rdquo;</li>
            <li>&ldquo;client_secret&rdquo;: &ldquo;&#123;CHAVECLIENTE&#125;&ldquo;</li>
        </ol>
    </li>
    <li>Os par&acirc;metros &ldquo;&#123;NOMECLIENTE&#125;&rdquo; e &ldquo;&#123;CHAVECLIENTE&#125;&rdquo; ser&atilde;o disponibilizados para cada cliente durante o processo de planejamento do projeto;</li>
</ul>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>Para realizar uma requisi&ccedil;&atilde;o a uma determinada API, ser&aacute; necess&aacute;rio informar a subscription key e o access_token no header da requisi&ccedil;&atilde;o. Segue abaixo um exemplo de chamada:</p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;border:solid #E3E3E3 1.0pt;padding:7.0pt 7.0pt 7.0pt 7.0pt;background:whitesmoke;'>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:whitesmoke;border:none;padding:0cm;'><span style="font-size:13px;font-family:Consolas;color:#333333;">GET https://gateway.api.teste.com/apigateway/v1/get HTTP/1.1</span></p>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:whitesmoke;border:none;padding:0cm;'><span style="font-size:13px;font-family:Consolas;color:#333333;">Host: gateway.api.teste.com</span></p>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:whitesmoke;border:none;padding:0cm;'><span style="font-size:13px;font-family:Consolas;color:#333333;">Ocp-Apim-Subscription-Key:&nbsp;</span><span style="color:#5B9BD5;font-weight:bold;">&#123;clientesubscritptionkey&#125;</span></p>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:whitesmoke;border:none;padding:0cm;'><span style="font-size:13px;font-family:Consolas;color:#333333;">Authorization: Bearer &#123;TOKEN&#125;</span></p>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:whitesmoke;border:none;padding:0cm;'><span style="font-size:13px;font-family:Consolas;color:#333333;">origemrequest: &#123;NOMEAPLICACAO&#125;</span></p>
</div>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'><br></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>O header &ldquo;OCP-Apim-SubscriptionKey&rdquo; &eacute; respons&aacute;vel por aplicar mais uma camada de seguran&ccedil;a no acesso a API. O par&acirc;metro &#123;CLIENTESUBSCRIPTIONKEY&#125; ser&aacute; compartilhado com o cliente durante o processo de planejamento do projeto.</p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>O header &ldquo;Authorization&rdquo; &eacute; respons&aacute;vel por indicar o mecanismo de autoriza&ccedil;&atilde;o da API, utilizando um &ldquo;Bearer Token&rdquo;. O par&acirc;metro &#123;TOKEN&#125; representa o &ldquo;access_token&rdquo; obtido atrav&eacute;s do endpoint de autentica&ccedil;&atilde;o do cliente na plataforma utilizando o protocolo OAuth / OpenID Connect.</p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>O header &ldquo;origemrequest&rdquo; &eacute; respons&aacute;vel por indicar qual a origem do request para facilitar a visualiza&ccedil;&atilde;o do fluxo de processamento nas ferramentas de monitoramento. O par&acirc;metro &#123;NOMEAPLICACAO&#125; representa o nome da aplica&ccedil;&atilde;o que est&aacute; consumindo a funcionalidade existente na API. Ser&aacute; OBRIGAT&Oacute;RIO informar o nome da aplica&ccedil;&atilde;o a cada requisi&ccedil;&atilde;o.</p>