
  mat-toolbar {
    background: white;
    color: #293a89;
    padding: 0px;
}

mat-sidenav {
    background: #293a89;
    margin: 16px;
    width: 300px;
    border-right: none;
    color: white;
    border-radius: 10px;
    padding: 16px;
    font-size: 0.9rem;
}

.content {
  height: calc(100vh - 130px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  padding: 16px;

  overflow: auto;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

/*TREE*/

.menu-tree-invisible {
  display: none;
}

.mat-tree-node {
  color: white;
}

.menu-tree ul,
.menu-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.menu-tree .mat-nested-tree-node div[role=group] {
  padding-left: 5px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.menu-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}

mat-tree,
mat-tree-node,
mat-nested-tree-node{
  color: white;
  background: #293a89;
  font-size: 0.9rem;
}

mat-tree button[mat-icon-button],
mat-tree-node button[mat-icon-button],
mat-nested-tree-node button[mat-icon-button]
mat-tree button[mat-button],
mat-tree-node button[mat-button],
mat-nested-tree-node button[mat-button] {
  color: white;
}
/*END TREE*/



.toolbar-spacer {
    flex: 1 1 auto;
}

.logo {
    width: 15%;
    max-width: 150px;
    max-height: 30px;
    margin-left: 3px;
}

.logo-btn-hidden {
  margin: 0 16px;
  width: 10%;
  max-width: 150px;
  max-height: 30px;
}

  

  .footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


