  <mat-toolbar *ngIf="loginDisplay" class="toolbar mat-elevation-z8">
    <button mat-icon-button aria-label="Menu" *ngIf="sidenav && sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="sidenav && !sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav && sidenav.opened">
          close
      </mat-icon>
    </button>
    <img class="{{sidenav && sidenav.mode === 'over' ? 'logo' : 'logo-btn-hidden'}}" alt="Company"  src="../assets/images/company-logo.png"/>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button  *ngIf="loginDisplay" (click)="logout()">
      <mat-icon fontIcon="logout"></mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container *ngIf="loginDisplay">
    <mat-sidenav #sidenav="matSidenav" mode="side" opened  class="mat-elevation-z8">
      <mat-tree [dataSource]="dataSource" [treeControl]="menuTreeControl" class="menu-tree">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <button *ngIf="node.swaggerParameter" (click)="goToDocumentation(node)" mat-button>
            <span>{{node.name}}</span>
          </button>
          <button [routerLink]="[node.routeLink]" *ngIf="!node.swaggerParameter && node.routeLink" mat-button>
            <span>{{node.name}}</span>
          </button>
        </mat-tree-node>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle (click)="onExpand(node)">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{menuTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              {{node.name}}
            </div>
            <div [class.menu-tree-invisible]="!menuTreeControl.isExpanded(node)"
                role="group">
              <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
          <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
<app-login *ngIf="!loginDisplay"></app-login>
<footer class="footer">
  Company CNPJ: 00.000.000/0000-00 © 2023 - Todos os direitos reservados
</footer>