<h3 style='margin-top:2.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:107%;font-size:16px;font-family:"Calibri Light",sans-serif;color:#1F4D78;font-weight:normal;'>Endpoints das APIs API Gateway</h3>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>AS APIs dispon&iacute;veis na plataforma estar&atilde;o dispon&iacute;veis nos 4 ambientes de sistemas da CompanyName (Desenvolvimento, QA, Homologa&ccedil;&atilde;o e Produ&ccedil;&atilde;o) e possuir&atilde;o os seguintes prefixos:</p>
<table style="width: 4.7e+2pt;border-collapse:collapse;border:none;">
    <tbody>
        <tr>
            <td colspan="2" style="width: 467.55pt;border: 1pt solid white;background: rgb(237, 125, 49);padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style="color:white;">CompanyName &ndash; Ambiente Idp</span></strong></p>
            </td>
        </tr>
        <tr>
            <td style="width: 145.45pt;border-right: 1pt solid white;border-bottom: 1pt solid white;border-left: 1pt solid white;border-image: initial;border-top: none;background: rgb(237, 125, 49);padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Ambiente Desenvolvimento</span></strong></p>
            </td>
            <td style="width: 322.1pt;border-top: none;border-left: none;border-bottom: 1pt solid white;border-right: 1pt solid white;background: rgb(247, 202, 172);padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:black;"><URL API GATEWAY DESENVOLVIMENTO></span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 145.45pt;border-right: 1pt solid white;border-bottom: 1pt solid white;border-left: 1pt solid white;border-image: initial;border-top: none;background: rgb(237, 125, 49);padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Ambiente QA</span></strong></p>
            </td>
            <td style="width: 322.1pt;border-top: none;border-left: none;border-bottom: 1pt solid white;border-right: 1pt solid white;background: rgb(251, 228, 213);padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:black;"><URL API GATEWAY QA></span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 145.45pt;border-right: 1pt solid white;border-bottom: 1pt solid white;border-left: 1pt solid white;border-image: initial;border-top: none;background: rgb(237, 125, 49);padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Ambiente Homologa&ccedil;&atilde;o</span></strong></p>
            </td>
            <td style="width: 322.1pt;border-top: none;border-left: none;border-bottom: 1pt solid white;border-right: 1pt solid white;background: rgb(247, 202, 172);padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:black;"><URL API GATEWAY HOMOLOGACAO></span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 145.45pt;border-right: 1pt solid white;border-bottom: 1pt solid white;border-left: 1pt solid white;border-image: initial;border-top: none;background: rgb(237, 125, 49);padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Ambiente Produ&ccedil;&atilde;o</span></strong></p>
            </td>
            <td style="width: 322.1pt;border-top: none;border-left: none;border-bottom: 1pt solid white;border-right: 1pt solid white;background: rgb(251, 228, 213);padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:black;"><URL API GATEWAY PRODUCAO></span></p>
            </td>
        </tr>
    </tbody>
</table>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>